@font-face {
    font-family: 'Amatic SC';
    src: url('./fonts/AmaticSC-Bold.ttf');
}
@font-face {
    font-family: 'Annie Use Your Telescope';
    src: url('./fonts/AnnieUseYourTelescope-Regular.ttf');
}
@font-face {
    font-family: 'Bilbo';
    src: url('./fonts/Bilbo-Regular.ttf');
}
@font-face {
    font-family: 'Coming Soon';
    src: url('./fonts/ComingSoon-Regular.ttf');
}
@font-face {
    font-family: 'Dancing Script';
    src: url('/fonts/DancingScript-Regular.ttf');
}
@font-face {
    font-family: 'Gaegu';
    src: url('./fonts/Gaegu-Regular.ttf');
}
@font-face {
    font-family: 'Hi Melody';
    src: url('./fonts/HiMelody-Regular.ttf');
}
@font-face {
    font-family: 'Loved by the King';
    src: url('./fonts/LovedbytheKing-Regular.ttf');
}
@font-face {
    font-family: 'Mr De Haviland';
    src: url('./fonts/MrDeHaviland-Regular.ttf');
}
@font-face {
    font-family: 'Nanum Brush Script';
    src: url('./fonts/NanumBrushScript-Regular.ttf');
}
@font-face {
    font-family: 'Over the Rainbow';
    src: url('./fonts/OvertheRainbow-Regular.ttf');
}
@font-face {
    font-family: 'Stalemate';
    src: url('./fonts/Stalemate-Regular.ttf');
}
@font-face {
    font-family: 'Sue Ellen Fransisco';
    src: url('./fonts/SueEllenFrancisco-Regular.ttf');
}
@font-face {
    font-family: 'Waiting for the Sunrise';
    src: url('./fonts/WaitingfortheSunrise-Regular.ttf');
}